*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 background: #000;
 font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
 width: 300px;
 background: #292929e9;
 position: fixed;
  left:0;
  top: 0;
  padding: 10px;
 
}
.sidebar-nav{
 background:#2f2e2e ;
 border-radius: 10px;
 padding: 20px 10px;
 margin-bottom: 10px;
}
.sidebar-nav .logo{
 width: 120px; 
}
.sidebar-nav .logo img{
 width: 100%;

}
.sidebar-nav  ul{
 list-style: none;
}
.sidebar-nav ul li{
 padding: 10px 20px;

}
.sidebar-nav ul li a {
 text-decoration: none;
 color: #b3b3b3;
 font-size: 16px;
 font-weight: 600;
}
.sidebar-nav ul li a i{
 font-size: 20px;
 margin-right: 10px;
}